body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  padding: 0;
  margin: 0;
}
a {
  color: seashell;
}
.header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  top: 0;
  align-items: center;
}
.logo, .navi {
  display: inline-block;
}
.logo {
  margin-left: 10px;
}
.logo-img {
    height: 50px;
}
.nav {
  list-style: none;
  margin: 0 10px 0 auto;
}
.nav > li {
  text-decoration: underline;
}
.navi {
  margin: 0 10px;
}
.first-container {
  display: flex;
  align-items: center;
  background: url("../images/img-mission-background.jpg") no-repeat;
  height: 700px;
  margin-top: 69px;
  background-position: center;
}
.first-content {
 width: 100%;
 background: black;
}
.first-content > h2, .first-content > h4 {
  padding: 5px;
  margin: 5px;
}
.row {
  align-items: center;
}
.rdiv {
  display: inline-block;
  margin: 0 6px;
  padding: 5px;
  margin: 6px;
  background: black;
  width: 300px;
}
.rcontent {
  width: 300px;
  height: 200px;
}
.third-content {
  justify-content: center;
  display: flex;
  align-items: center;
  background: url("../images/img-locations-background.jpg") no-repeat;
  height: 500px;
  background-position: center;
}
.locations {
  margin-bottom: -100px
}
.contact {
  height: 200px;
  padding: 15px;
}
.copyright {
  text-align: left;
  margin-left: 20px;
}